---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
import imglocal1 from "../assets/localCRTV1.webp";
import imglocal2 from "../assets/localCRTV2.webp";
import imglocal3 from "../assets/localCRTV3.webp";
import img1 from "../assets/artikel_foto1.webp";
---

<Layout>
  <Hero />
  <!-- KODENING TIL LIGE EFTER HEROEN -->
  <section class="efterhero">
    <!-- Html til Venstre kolonne -->
    <div class="venstre-side">
      <article class="card">
        <Image src={imglocal1} alt="billede 1 til localCRTV" />
        <div class="text">
          <h6 class="label">LOCAL CRTV</h6>
          <p>
            Take a long stroll along history and get inspired by all the
            wonderful art at East Side Gallery in Berlin
          </p>
        </div>
      </article>
      <!-- ----- -->
      <article class="card">
        <Image src={imglocal2} alt="billede 2 til localCRTV" />
        <div class="text">
          <h6 class="label">LOCAL CRTV</h6>
          <p>
            Interview with Kristin Verita Katzer — a Berlin-based designer &
            artist
          </p>
        </div>
      </article>
      <!-- ----- -->
      <article class="card">
        <Image src={imglocal3} alt="billede 3 til localCRTV" />
        <div class="text">
          <h6 class="label">LOCAL CRTV</h6>
          <p>This weeks FREE GEM: Glypotetekt</p>
        </div>
      </article>
    </div>
    <!-- Html til Højre kolonne -->
    <div class="højre-side">
      <article class="bigcard">
        <Image src={img1} alt="Artikel billede 1" />
        <div class="text">
          <p class="label">UNMISSABLE FREE GEMS</p>
          <h2>WHAT CAN’T I MISS IN BERLIN AS A CREATIVE FIRST-TIMER?</h2>
        </div>
      </article>
    </div>
  </section>
  <!-- KODENING TIL DET LYSERØDE AFSNIT-->
</Layout>

<style>
  /* FONTER */
  @font-face {
    font-family: "Anton";
    src: url("/public/Fonts/Anton_font/Anton-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/public/Fonts/Inter_font/static/Inter_18pt-Light.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "InterBold";
    src: url("/public/Fonts/Inter_font/static/Inter_18pt-Bold.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  /* Style til lige efter heroen */

  .efterhero {
    margin: 0;
    font-family: sans-serif;
    color: #111;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -1rem;
  }

  .venstre-side {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .venstre-side .card img {
    width: auto;
    height: 160px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }

  .card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: "InterBold";
  }

  h6 {
    font-family: "Inter";
  }

  .bigcard img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
  }

  .text {
    padding: 1rem;
    letter-spacing: 0.6px;
  }

  .label {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .bigcard h2 {
    font-size: 2rem;
    font-family: "Anton";
    font-weight: 900;
    margin-top: 0.5rem;
  }

  /* Style til det lyserøde afsnit */
</style>
